asgiref==3.11.1
certifi==2026.4.22
Django==6.0.4
djangorestframework==3.17.1
gunicorn==26.0.0
isodate==0.7.2
packaging==26.2
polars==1.40.1
psycopg2-binary==2.9.12
pyparsing==3.3.2
python-dateutil==2.9.0.post0
rdflib==7.5.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.47.0
